@{
    ViewData["Title"] = "Home Page";
   
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="mb-4 pb-0">Bienvenido Papu a<br><span>Meta</span>Champo</h1>
        <p class="mb-4 pb-0">Dale Click abajo</p>
        <a href="https://www.youtube.com/watch?v=Pb-HDNUSqrE&t=5s&ab_channel=10HoursChannel" class="glightbox play-btn mb-4"></a>
        <a href="@Url.Action("Register","Register")" class="about-btn scrollto">Iniciar Sesión</a>
    </div>
</section><!-- End Hero Section -->
