@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutHetero.cshtml";

}
<H1>Para que sirve METACHAMPO?</H1>
<div>
    <h4>Esta pagina web esta hecha para que puedas crear una meta financiera fija, puede ser sobre un plan de ahorros o tambien sobre un algun objeto que quieras
        pongamos de ejemplo un auto, cuanto costaria el auto? Es informacion la puedes ingresar y tambien proponer una meta para saber cuanto dinero debes gastar
        y comenzar a ahorrar.

        Los integrantes de este equipo fueron:
        Jose Sanchez, Junior Espin y Xavier Gordillo

    </h4>

   
</div>
<div>
    
</div>

